<!-- (0:48:)W9D2 -->
<div>
  <table>
    <tr *ngFor="let product of list">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>
        <!-- <button>Edit</button> -->
        <!-- (2:09:) -->
        <button (click)="startEditProduct(product.id)">Edit</button>
        <!-- <button>Delete</button> -->
        <!-- (1:40:) -->
        <button (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>

<!-- (2:20:) -->
<div>
  
  <div>
    <label>
      Name:
      <input [(ngModel)]="product.name">
    </label>
  </div>


  <div>
    <label>
      Price:
      <input type="number" step="0.01" [(ngModel)]="product.price">
    </label>
  </div>

  <!-- <button>Save</button> -->
  <!-- (2:29:) -->
  <button (click)="editProduct()">Save</button>
</div>
<!-- (:30:)W10D1 -->
<router-outlet></router-outlet>