<p>list works!</p>
<!-- (0:39:)W10D1 copied from app.component.html-->
<div>
    <table>
      <tr *ngFor="let product of list">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <button (click)="startEditProduct(product.id)">Edit</button>
          <button (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div>
    
    <div>
      <label>
        Name:
        <input [(ngModel)]="product.name">
      </label>
    </div>
  
    <div>
      <label>
        Price:
        <input type="number" step="0.01" [(ngModel)]="product.price">
      </label>
    </div>
  
    <button (click)="editProduct()">Save</button>
  </div>